<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>782774219638-bq3vp1ov0d6vjpc2vc91aep17f9gk18g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.782774219638-bq3vp1ov0d6vjpc2vc91aep17f9gk18g</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>782774219638-09p6k5p450h4nlvvfqtsvanj9tam41g2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD3_51intphkkZskb4ta-oACx5Kt8ZCgxQ</string>
	<key>GCM_SENDER_ID</key>
	<string>782774219638</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dev.ybride</string>
	<key>PROJECT_ID</key>
	<string>yb-ride-83505</string>
	<key>STORAGE_BUCKET</key>
	<string>yb-ride-83505.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:782774219638:ios:5a98e9631c575dea0e4057</string>
	<key>DATABASE_URL</key>
	<string>https://yb-ride-83505-default-rtdb.firebaseio.com</string>
</dict>
</plist>